nav {
    margin-top: 50px;
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
}

nav > a{
    color: black;
    text-decoration: none;
    background-color: orange;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    transition: 0.5s;

}

nav > a:hover{
    background-color: #ff8c00;
    color: white;
    border-radius:  0 0 5px 5px rgb(255, 255, 255);
}

nav > a.active{
    background-color: #c06b02;
    color: rgb(255, 255, 255);
}